// Importing variables
@import 'variables.scss';
@import url(https://fonts.googleapis.com/css?family=Lato);

.news {
    &__internal, &__external {
        & .button-19 {
            height: 150px;
            width: 400px;

            & > a {
                color: $white;
                text-decoration: none;
            }
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;

        color: $white;
        font-style: italic;
        font-size: .8125rem;

        & > svg {

            fill: $white;
            width: 1rem;
        }
        margin-bottom: 1rem;
    }

    &__wrapper {
        display: flex;

        & > a {
            flex-basis: 50%;
            text-decoration: none;

            &:hover {
                color: $gray-700;
            }
        }

        & > img {
            padding: 10px;
        }


    }
}
.dropdown {
    position: relative;

    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}

.dropdown-content {
    position: absolute;
    background-color: $gray-200;
    display: none;
    list-style-type: none;
    transition: all .25s ease-in-out;
    padding-left: .5rem;
    min-width: 6rem;

    & > li {
        &:last-child {
            margin-bottom: 1rem;
        }
    }

    & > li > a {
        border-bottom: 1px solid $gray-500;
        font-size: 1.25rem;
        padding: .25rem;
    }

    & > li > a:hover {
        color: $primary !important;
        padding-left: 10px;
        transition: all 0.3s ease;
    }
}

