// Importing variables
@import 'variables.scss';
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

// Importing files
@import 'container.scss';
@import 'nav.scss';
@import 'aside.scss';
@import 'catalog.scss';
@import 'login.scss';

* {
  font-family: Lato;    
  transition: all .25s ease-in-out;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../blurry-gradient-haikei.png')!important;

  background-size: 100%;
}

a {
  text-decoration: none;  

  &:hover {
      color: $primary;
  }
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

label {
  color: red;
}

img {
  border-radius: 3%;
}

::marker {
    color: $primary;
}

.category {
    &::before {
      content: "a";
      background-color: $red;
      /* 
        width: 2px;
        height: 80%;
        margin-right: 5px;

        display: inline-block; */
    }
}

.content {
    display: flex;
    flex-direction: column;
    
    &__header {
        display: flex;
        align-items: center;

        font-size: 1.5rem;
        text-transform: none;
        text-decoration: none;
        color: $gray-700;

        margin-bottom: .5rem;
    }
}

.thumb {
  width: 100px;
  height: 100px;
}

.thumb-medium {
  width: 250px;
  height: 150px;
}

.thumb-large {
  width: 100%;
  height: auto;
  max-height: 300px;
}