@page 
@model AddExternalNewsPage
@{
}

<div>
    <h1>Add your news below:</h1>

    <form asp-action="post" enctype="multipart/form-data" >
        <label>Title: </label>
        <input asp-for="news.NewsTitle" /> <br></br>

        <label>Lead: </label>
        <input asp-for="news.Lead" /><br></br>

        <label>The body: </label>
        <input asp-for="news.Body" /><br></br>

        <label>Refference Link: </label>
        <input asp-for="news.RefferenceLink" /><br></br>

        <label>Category: </label>
        <select asp-for="news.SubCategory.CategoryId" asp-items="Model.categories">        
        </select>
        </select>
        <br></br>
        <label>Date: </label>
        <input asp-for="news.Date" /><br></br>
            <div class="form-control">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        <input type="submit" value="Submit" />
        <button><a asp-page="\Index">Cancel </a></button>

    </form>
</div>