@page "{errorCode:int}"
@model AddExternalNewsPage
@{
}

<div>
     @if (Model.errorCode == 1)
    {
        <div>
            <p>Fields can not be empty!</p>
        </div>
    }

    <h1>Add your news below:</h1>

    <form method="post" id="form-external" enctype="multipart/form-data" asp-page-handler="AddExternalNews" >
        <label>Title: </label>
        <input asp-for="news.NewsTitle" /> <br></br>

        <label>Lead: </label>
        <input asp-for="news.Lead" /><br></br>

        <label>The body: </label><br />
        <textarea asp-for="news.Body" form="form-external" placeholder="Link of the news..."></textarea><br></br>

        <label>Refference Link: </label>
        <input asp-for="news.RefferenceLink" /><br></br>


        </select>
        <br></br>
        <label>Date: </label>
        <input asp-for="news.Date" /><br></br>
            <div class="form-control">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        <input type="submit" value="Submit" />
        <button><a asp-page="\Index">Cancel </a></button>
    </form>
</div>