@page "{errorCode:int}"
@model AddInternalNewsPage
@{
}

<div class="container-page">
    <div class="container-form">
        <div class="screen">
            <div class="screen__content">
                @if (Model.errorCode == 1)
                {
                    <div>
                        <p>Fields can not be empty!</p>
                    </div>
                }

                <form class="form" method="post" id="form-1">
                    <div class="form__field">
                        <i class="form__icon fas fa-user"></i>
                        <input asp-for="news.NewsTitle" type="text" class="form__input" placeholder="Title">
                    </div>
                    <div class="form__field">
                        <i class="form__icon fas fa-lock"></i>
                        <input asp-for="news.Lead" type="text" class="form__input" placeholder="Lead">
                    </div>
                    <div class="form__field">
                        <i class="form__icon fas fa-lock"></i>
                        <input asp-for="news.Writer" type="text" class="form__input" placeholder="Writer">
                    </div>
                    <div class="form__field">
                        <i class="form__icon fas fa-lock"></i>
                        <input asp-for="news.Body" type="text" class="form__input" placeholder="Body">
                    </div>


                    <label>Subcategory: </label>
                    <select asp-for="news.SubCategoryId" asp-items="Model.subcategories">
                    </select>
                    <label>Date: </label>
                    <input asp-for="news.Date" /><br></br>
                    <div class="form-control">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>


                    <button class="button form__submit" form="form-1">
                        <span class="button__text">Submit news</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                    <button class="button form__submit" asp-page="\Index">
                        <span class="button__text">Cancel </span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>

                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
    <div>
        @if (Model.errorCode == 1)
        {
            <div>
                <p>Fields can not be empty!</p>
            </div>
        }
        <h1>Add a new category:</h1>

        <form method="post" asp-page-handler="AddCategory" id="form-2">
            <label>Subcategory name: </label>
            <input asp-for="category.CategoryName" />

            <button type="submit" value="Submit" class="button form__submit" form="form-2">
                <span class="button__text">Submit</span>
                <i class="button__icon fas fa-chevron-right"></i>
            </button>
        </form>

        <h1>Add a new subcategory:</h1>

        <form method="post" asp-page-handler="AddSubCategory" id="form-3">
            <label>Category name: </label>
            <input asp-for="subCategory.SubCategoryName" /> <br></br>

            <label>Category: </label>
            <select asp-for="subCategory.CategoryId" asp-items="Model.categories">
            </select>

            <button type="submit" value="Submit" class="button form__submit" form="form-3">
                <span class="button__text">Submit</span>
                <i class="button__icon fas fa-chevron-right"></i>
            </button>


        </form>
    </div>
</div>