@page 
@model AddNewsPage
@{
}

<div class="container-page">
    <h2>Would you like to add your own news or would you like to share a news from a different place?</h2>
    <div class="container-options">
        <div class="option-item">
            <a class="button-19" asp-route-errorCode="0" asp-page="\AddInternalNewsPage">Add your own news</a>
        </div>
        <div class="option-item">
            <a class="button-19" asp-route-errorCode="0" asp-page="\AddExternalNewsPage">Add external news</a>
        </div>
    </div>
</div>