@page "{NewsId:int}/{errorCode:int}"
@using ProiectDAW.Models
@model ProiectDAW.Pages.EditNewsPageModel
@{
}

<div>

    @if (Model.errorCode == 1)
    {
        <div>
            <p>Fields can not be empty!</p>
        </div>
    }

    <h1>Edit your news below:</h1>

    <form method="post" id="form-body2">
        <input asp-for="news.Id" type="hidden" /> <br></br>
        <label>Title: </label>
        <input asp-for="news.NewsTitle" /> <br></br>

        <label>Lead: </label>
        <input asp-for="news.Lead" /><br></br>

        <label>Writer: </label>
        <input asp-for="news.Writer" /><br></br>

        <label>The body: </label><br />
        <textarea asp-for="news.Body" form="form-body2" placeholder="Comentariul tau..."></textarea>
        <br></br>

        <label>Subcategory: </label>
        <select asp-for="news.SubCategoryId" asp-items="Model.subcategories">
            
        </select>
        <br></br>
        <label>Date: </label>
        <input asp-for="news.Date" /><br></br>

        <input type="submit" value="Submit" />
        <button><a asp-page="\Index">Cancel </a></button>

    </form>
</div>
