@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <label>Title: </label>
        <input type="text"  placeholder="News Title" name="searchText"> 
        <input type="submit" value="Submit" />
        <br>
    </form>
</div>
