@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-container">
    <div class="content">
        <a class="category content__header">Cele mai importante stiri</a>
        <div class="catalog">
            <article>
                <div class="catalog__image-wrapper">
                    <a class="catalog__image">
                        <img src="https://placekitten.com/200/250" />
                    </a>
                </div>

                <div class="catalog__information">
                    <a class="catalog__image--title">titlu</a>
                    <a class="catalog__image--text">descriere</a>
                    <a class="catalog__image--notes category">notes, something</a>
                </div>
            </article>
            
            <article>
                <div class="catalog__image-wrapper">
                    <a class="catalog__image">
                        <img src="https://placekitten.com/200/250" />
                    </a>
                </div>

                <div class="catalog__information">
                    <a class="catalog__image--title">titlu</a>
                    <a class="catalog__image--text">descriere</a>
                    <a class="catalog__image--notes category">notes, something</a>
                </div>
            </article>

            <article>
                <div class="catalog__image-wrapper">
                    <a class="catalog__image">
                        <img src="https://placekitten.com/200/250" />
                    </a>
                </div>

                <div class="catalog__information">
                    <a class="catalog__image--title">titlu</a>
                    <a class="catalog__image--text">descriere</a>
                    <a class="catalog__image--notes category">notes, something</a>
                </div>
            </article>

            <article>
                <div class="catalog__image-wrapper">
                    <a class="catalog__image">
                        <img src="https://placekitten.com/200/250" />
                    </a>
                </div>

                <div class="catalog__information">
                    <a class="catalog__image--title">titlu</a>
                    <a class="catalog__image--text">descriere</a>
                    <a class="catalog__image--notes category">notes, something</a>
                </div>
            </article>

            <article>
                <div class="catalog__image-wrapper">
                    <a class="catalog__image">
                        <img src="https://placekitten.com/200/250" />
                    </a>
                </div>

                <div class="catalog__information">
                    <a class="catalog__image--title">titlu</a>
                    <a class="catalog__image--text">descriere</a>
                    <a class="catalog__image--notes category">notes, something</a>
                </div>
            </article>
        </div>
    </div>

    <aside class="main-aside">
        <div class="main-aside__title">
            Stiri noi
        </div>
        <ul class="main-aside__content">
            <li class="main-aside__item">repsect#1</li>
            <li class="main-aside__item">repsect#1</li>
            <li class="main-aside__item">repsect#1</li>
        </ul>
    </aside>
</div>

