@page
@model ProiectDAW.Pages.LoginModel
@{
}

@*<form method="post">
   <label>Username:</label>
   <input asp-for="Account.Username" type="text" />
   <br />
   <label>Password:</label>
   <input asp-for="Account.Password" type="password" />
   <br />
   <input type="submit" value="Login" />
</form>*@

<<<<<<< HEAD
<div class="container-login">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="post">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input asp-for="Account.Username" type="text" class="login__input" placeholder="User name / Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input asp-for="Account.Password" type="password" class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
					<input type="submit" value="Login" />
=======
<div class="container-form">
	<div class="screen">
		<div class="screen__content">
			<form class="form" method="post">
				<div class="form__field">
					<i class="form__icon fas fa-user"></i>
					<input asp-for="Account.Username" type="text" class="form__input" placeholder="User name / Email">
				</div>
				<div class="form__field">
					<i class="form__icon fas fa-lock"></i>
					<input asp-for="Account.Password" type="password" class="form__input" placeholder="Password">
				</div>
				<input type="submit" value="Login" class="button form__submit" />
				<button class="button form__submit">
					<span class="button__text">Register</span>
					<i class="button__icon fas fa-chevron-right"></i>
>>>>>>> Cristi
				</button>
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>
