@page
@model ProposalModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <br />
    <p>Your Proposal</p>
    <form method="post">
        <label>Name</label><br/>
        <input asp-for="proposal.Name" /><br /></br > 
        <label>On what topic would you like to hear something new?</label><br />
        <input asp-for="proposal.ProposalBody" />
        <input type="submit" value="Save" />
    </form>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1><small class="pull-right">@Model.Prop.Count proposal</small></h1>
            </div>
            <div class="media">
                <div class="media-body">
                    @foreach(Models.Proposals prop in @Model.Prop)
                    {
                        <h4 class="media-heading user_name"> @prop.Name </h4>
                        <p>@prop.ProposalBody</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>