@page
@model ProiectDAW.Pages.ProposalModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Your Proposal</h1>

@*<div class="container">
    <form method="post">
        <label>Name</label><br/>
        <input asp-for="proposal.Name" /><br /></br > 
        <label>On what topic would you like to hear something new?</label><br />
        <input asp-for="proposal.ProposalBody" />
        <input type="submit" value="Save" />
    </form>
</div>*@

<div class="container-form">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="post">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input asp-for="proposal.Name" type="text" class="login__input" placeholder="Name">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input asp-for="proposal.ProposalBody" type="text" class="login__input" placeholder="The topic of choice">
				</div>
				<input type="submit" value="Save" class="button login__submit"/>
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1><small class="pull-right">@Model.Prop.Count proposal</small></h1>
            </div>
            <div class="media">
                <div class="media-body">
                    @foreach(Models.Proposals prop in @Model.Prop)
                    {
                        <h4 class="media-heading user_name"> @prop.Name </h4>
                        <p>@prop.ProposalBody</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>